// yha pe hum css likhenge, aur yha pe jo hum likhnge wo baadme humare tool ke madad se 
// jake public ke app.css me save hoga , aur usko hum include karenge in our real proj code/routes


@import './variables'; // underscore dene ki zaroorat nhi sass samajh jata hai ki ye ek partial  file hai, aur.scss bhi nhi dena. all bcoz of that underscor naming convention.

body{
    font-family:'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color:$dark;
    
}

nav li:last-child a{
background: $primary;

&:hover{
    background: $primary-hover;
 }
}

nav li a{
    transition: $smooth;

    &:hover{
       color: $primary;
    }
}

section.hero{
    background: $secondary;
}
.size {
    background: $secondary;
}
.add-to-cart{
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover{
     background: $primary;
    border-color: $pure;
     color: $pure; 
  }  
}