<section class="status">
    <div class="container mx-auto">
        <div class=" status-box mx-auto w-2/3">
        <div class="flex items-centee justify-between mb-12">
            <h1 class="text-xl font-bold">Track delivery status</h1>
            <h6 class="rounded-full bg-white py-1 px-4 
            text-green-600 text-xs"><%=order._id%></h6>
            <input id="hiddenItem" type="hidden" value="<%=JSON.stringify(order)%>">
        </div>
        <ul>
            <li class="status-line text-xl pb-16" data-status="Order Placed"><span>Order Placed</span></li>
            <li class="status-line text-xl pb-16 "  data-status="Confirmed"><span>Order confirmation</span></li>
            <li class="status-line text-xl pb-16"  data-status="Prepared"><span>Preparation</span></li>
            <li class="status-line text-xl pb-16"  data-status="Delivered"><span>Out for delivery</span></li>
            <li class="status-line text-xl "  data-status="Completed"><span>Complete</span></li>
        </ul>
        </div>
</div>
</section>